.container {
    margin: 0px 0px 0px 300px;
    color: #ffec5a;
    font-size: 22px;
    padding: 20px 20px 20px 20px;
    min-height: calc(100vh - 40px);
    background-color: #404040;
}

input::placeholder {
    color: #8d854d;
}

button {
    width: 240px;
    height: 42px;
    padding: 8px;
    margin: 14px 30px -4px 30px;
    text-align: center;
    vertical-align: center;
    background-color: #ffec5a;
    border: 0px solid #ccc;
    border-radius: 14px;
    font-size: 22px;
    color: #656565;
}

input {
    width: calc(100% - 60px);
    height: 54px;
    padding: 8px 12px;
    margin: 8px 30px 8px 30px;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: 22px;
    color: #ffec5a;
    background-color: #656565;
}
